<% if alert.present? %>
  <div data-controller="dismissible" class="alert flash-alert" role="alert">
    <div class="text-sm font-medium">
      <%= alert %>
    </div>
    <button type="button" class="alert-dismiss" data-action="dismissible#dismiss" aria-label="Close">
      <%= lucide_icon "x" %>
    </button>
  </div>
<% end %>
<% if notice.present? %>
  <div data-controller="dismissible" class="alert flash-notice" role="alert">
    <div class="text-sm font-medium">
      <%= notice %>
    </div>
    <button type="button" class="alert-dismiss" data-action="dismissible#dismiss" aria-label="Close">
      <%= lucide_icon "x" %>
    </button>
  </div>
<% end %>
