<header class="header">
  <a href="/" class="link-body-emphasis flex items-center mb-4 md:mb-0 md:me-auto text-gray-900">
    <span class="text-2xl"><%= t("application_name") %></span>
  </a>
</header>
